.switch {
    display: flex;
    position: relative;
  }
  
  .switch__box {
    border-radius: 25px;
    border: 2px solid #00000080;
    width: 56px;
    height: 28px;
    appearance: none;
  }
  
  .switch__slider {
    border-radius: 20px;
    width: 28px;
    height: 28px;
    background-color: #000;
    color: #fff;
    text-align: center;
    cursor: pointer;
    position: absolute;
  }
  
  .switch__slider-F {
    top: 3px;
    left: 4px;
    transition: 1s;
  }
  
  .switch__slider-C {
    top: 3px;
    left: 32px;
    transition: 1s;
  }
  
  .switch__temp-F {
    position: absolute;
    top: -5px;
    left: 14px;
    font-family: Cabinet Grotesk;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #00000080;
  }
  
  .switch__temp-C {
    position: absolute;
    top: -5px;
    left: 40px;
    font-family: Cabinet Grotesk;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #00000080;
  }
  
  .switch__active {
    color: #fff;
  }
  
  .switch__inactive {
    transition: 2s;
  }