.weather {
  position: relative;
  display: flex;
  margin: 0px auto 0px;
  align-items: center;
  min-height: 80px;
  max-width: 1360px;
  right: 0;
  overflow-x: hidden;
  border-radius: 12px;
}

.weather__temp {
  position: absolute;
  /* top: 12px;
  left: 16px; */
  align-self: center;
  margin-left: 16px;
  color: white;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  font-family: "Cabinet Grotesk", sans-serif;
  z-index: 0;
}

.weather__image {
  position: absolute;
  right: 0;
  min-width: 100%;
  min-height: 80px;
  flex-shrink: 0;
  z-index: -1;
}
