.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 20px 40px 28px;
}

.header__logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__avatar-logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__date {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}

.header__button {
  border: 0px;
  border-color: white;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  background-color: transparent;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  transition: opacity 0.5s ease-in-out;
}

.header__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__name {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  text-decoration: none;
}

.header__avatar {
  max-width: 40px;
  max-height: 40px;
}

.header__avatar-placeholder {
  width: 40px;
  height: 40px;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  background-color: black;
  border-radius: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__register {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.header__login {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .header {
    padding: 10px 20px 14px;
    flex-wrap: wrap;
  }
}
