.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  padding: 32px 40px 0;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__date {
  color: #000;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  height: 24px;
}

.header__avatar-logo {
  display: flex;
  align-items: center;
  gap: 20px 12px;
}

.header__button-add-clothes {
  background-color: transparent;
  border: none;
  color: #000;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  height: 24px;
}

.header__button-add-clothes:hover {
  cursor: pointer;
}

.header__user-name {
  color: #000;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 25px;
}

.header__location {
  color: #000;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.header__date-and-location {
  display: flex;
  align-items: center;
  gap: 10px;
}
