.footer {
  display: flex;
  justify-content: space-between;
  padding: 171px 40px 24px 40px;
  color: #000;
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
